html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    max-width: 1280px;
    min-width: 720px;
    font-family: ArialMT;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 15px;
}

.w100 {
    width: 100%;
}

.text-white {
    color: white
}

.text_c333 {
    color: #333;
}

.text_c445161 {
    color: #445161;
}

.text_c989898 {
    color: #989898;
}

.bc_white {
    background-color: #fff;
}

.bc445161 {
    background-color: #445161;
}

.bcf5f5f5 {
    background-color: #f5f5f5;
}

.bc_ebebeb {
    background-color: #ebebeb;
}

.h2_font {
    font-size: 1.9em;
    line-height: 1.32em;
    font-weight: 400;
}

.p_font {
    font-size: 1.05em;
    line-height: 1.35em;
    font-weight: 400;
}

.main_header {
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_header_headline {
    font-size: 3.75em;
    font-weight: 400;
    margin-top: 0;
}

.main_header_list {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    list-style: none;
    padding-left: 10px;
}

.main_header_list li {
    position: relative;
    font-size: 1.25em;
    line-height: 1.4em;
    padding: 0 0 0 20px;
}

.main_header_list li:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(img/check_mark.png);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: -10px;
}

.main_header_img {
    display: block;
    width: 469px;
    height: 214px;
}

section {
    width: 100%;
}

.about_your_product {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 345px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about_your_product_headline {
    margin: 0 0 50px;
}

.about_your_product_text {
    width: 649px;
}

.about_your_product_video {
    width: 430px;
    height: 245px;
}

.pluses {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pluses_headline {
    margin: 0 0 25px 0;
    text-align: center;
}

.pluses_content {
    width: 568px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.pluses_img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
}

.pluses_img_txt {
    width: 526px;
    text-align: justify;
    margin: 0;
}

.screenshots {
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots_headline {
    margin: 0 0 35px 0;
    text-align: center;
}

.screenshots_content {
    width: 575px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.screenshots_img {
    display: block;
    width: 200px;
    height: 150px;
}

.screenshots_img_content {
    width: 359px
}

.screenshots_img_title {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.22em;
}

.screenshots_img_txt {
    text-align: justify;
    margin: 0;
}

.reviews {
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews_headline {
    text-align: center;
    margin: 0 0 25px 0;
}

.reviews_content {
    width: 575px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

.reviews_img_content {
    width: 480px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}

.reviews_img_content:before {
    content: "";
    position: absolute;
    right: 100%;
    top: calc(25% - 12px);
    border-top: 12px solid transparent;
    border-right: 12px solid #ebebeb;
    border-bottom: 12px solid transparent;
}

.reviews_img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
}

.reviews_img_txt {
    margin: 0 0 15px 0;
    font-size: 1em;
    line-height: 1.2em;
    font-style: italic;
}
.buy_it_now {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buy_it_now_headline{
    margin: 0 0 35px 0;
    text-align: center;
}
.buy_it_now_content{
    text-align: center;
    border: 2px solid #445161;
    border-radius: 2%;
}

.buy_it_now_content_headline{
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1em;
    margin: 0;
    padding: 17px 0;
}

.buy_it_now_content_price{
    font-size: 2.5em;
    line-height: 0.8em;
    font-weight: 400;
    margin: 0;
    padding: 18px 0;
}
.buy_it_now_content_list{
    text-align: left;
    margin: 0;
    padding: 19px 38px 19px 40px;
}
.buy_it_now_content_list li {
    font-size: 1em;
    line-height: 1.4em;
}
button{
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.buy_it_now_content_button{
    width: 270px;
    height: 40px;
}
button:hover{
    opacity: .6;
}
button:active{
    border: 3px solid #445161;
}
.contacts{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts_headline{
    margin: 0 0 35px 0;
    text-align: center;
}
.contacts_form{
    text-align: center;
}
.contacts_form_input_wrapper{
    display: block;
    margin-bottom: 20px;
}
input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.3em;
    padding-left: 5px;
}
input::-webkit-input-placeholder {
    font-family: ArialMT;
    font-size: 1.3em;
    color: #445162;
}
textarea::-webkit-input-placeholder {
    font-family: ArialMT;
    font-size: 1.05em;
    color: #445162;
}
textarea{
    width: 500px;
    height: 170px;
    border-radius: 5px;
    resize: none;
    font-size: 1.5em;
    padding-left: 5px;
    padding-top: 5px;
}
.contacts_form_button{
    width: 140px;
    height: 40px;
}
.contacts_info{
    margin-left: 35px;
}
.contacts_info_text{
    position: relative;
    line-height: 1.5em;
    font-size: 1.1em;
    margin-left: 30px;
}
.contacts_info_text_icon1:before{
    content: "";
	background: url(img/skype_icon.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 24px;
    height: 26px;
    top: -1px;
    position: absolute;
    left: -31px;
}
.contacts_info_text_icon2:before{
    content: "";
	background: url(img/icq_icon.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 26px;
    height: 26px;
    top: -1px;
    position: absolute;
    left: -31px;
}
.contacts_info_text_icon3:before{
    content: "";
	background: url(img/email_icon.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 26px;
    height: 26px;
    top: -1px;
    position: absolute;
    left: -31px;
}
.contacts_info_text_icon4:before{
    content: "";
	background: url(img/phone_icon.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 26px;
    height: 26px;
    top: -1px;
    position: absolute;
    left: -31px;
}
.contacts_info_sprite{
	display:flex;
}
.contacts_info_sprite_icon{
	width: 43px;
    height: 42px;
    margin-right: 10px;
}
.icon_twitter{
	background: url(img/icons_sprite.png);
}
.icon_fasebook{
	background: url(img/icons_sprite.png);
	background-position: -289px 0;
}
.icon_instagram{
	background: url(img/icons_sprite.png);
	background-position: -338px 0;
}
.icon_google{
	background: url(img/icons_sprite.png);
	background-position: -388px 0;
}
.icon_youtube{
	background: url(img/icons_sprite.png);
	background-position: -437px 0;
}
.contacts_info_sprite_icon_link{
	margin: 0;
    display: flex;
    width: 43px;
    height: 42px;
}
.contacts_info_sprite_icon:hover{
	opacity: .5;
}
footer {
    font-size: 0.8em;
    text-align: center;
    min-height: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}